<!doctype html>

<link rel=stylesheet type=text/css href ="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href ="{{ url_for('static', filename='css/bootstrap.css') }}">

<html>
<head>
	<title>Dan</title>
</head>


<body>



<div class = "allcontent">

<div class = "buttonbar">

		<div class = "button-nav-container">
			<div class = "button-nav">
				<span>Resume</span>
			</div>
		</div>

		<div class = "button-nav-container">
			<div class = "button-nav">
				<span>Portfolio</span>
			</div>
		</div>

		<!--<div class = "button-nav-container">
			<div class = "button-nav">-->
				<div class = "logo-cir-container">
					<div class = "logo-cir">
						<img src = "static/images/imageofme.jpg" />
					</div>
				</div>
		<!--	</div>
		</div>-->

		<div class = "button-nav-container">
			<div class = "button-nav">
				<span>Blog</span>
			</div>
		</div>

		<div class = "button-nav-container">
			<div class = "button-nav">
				<span>Photos</span>
			</div>
		</div>

</div>


<div class = "logo-cir-ghost-container">
	<div class = "logo-cir-ghost">
	</div>
</div>





<div class = "maincontent">
	
	<div class = "blogpostcontainer">

		<div class = "blogpic-container">
			<div class = "blogpic">
				<img src = "static/images/imageofme.jpg" />
			</div>
		</div>

		<div class = "blogpostheader">
			Whiteness of the Whale
		</div>

		<div class= "blogpostbody">
			Aside from those more obvious considerations touching Moby Dick, which could not but occasionally awaken in any man’s soul some alarm, there was another thought, or rather vague, nameless horror concerning him, which at times by its intensity completely overpowered all the rest; and yet so mystical and well nigh ineffable was it, that I almost despair of putting it in a comprehensible form. It was the whiteness of the whale that above all things appalled me. But how can I hope to explain myself here; and yet, in some dim, random way, explain myself I must, else all these chapters might be naught.
		</div>

	</div>



</div>



</div>




</body>
</html>